*{
    margin:0 auto;
}

body{
    background-color: wheat;
}

.livesLeft{
    font-size: 2em;
    width: 1366px;
    display: flex;
    justify-content: center; /* center child horizontally */
    align-items: center; /* center child vertically */
    height: 100%; /* set height to fill parent container */
}
#lifeText{
    color: green;
    margin:0;
}
#countdown{
    background-color: red;
    color: white;
}
#startBtn{
    font-size: 30px;
}
#lossImg{
    display: none;
}
#main{
    display: flex;
    justify-content: center;

}
#canvas{
    background-color: black;
    justify-content: center;
    margin-left: 300px;
}
#instructions{
    margin:0;
}
#nextlvlBtn2{
    display: none;
    font-size: 30px;
    background-color: green;
}

#nextlvlBtn3{
    display: none;
    font-size: 30px;
    background-color: green;
}

#lvlBtn1{
    display: none;
    font-size: 30px;
    background-color: green;
}
 #winImg{
    display: none;
    height: 700px;
    width: 1000px;
 }

 button{
    padding: 10px;
    margin: 5px;
 }