body{
    background-color: wheat;
    margin-left: 250px;
}

.livesLeft{
    font-size: 2em;
    width: 1366px;
    display: flex;
    justify-content: center; /* center child horizontally */
    align-items: center; /* center child vertically */
    height: 100%; /* set height to fill parent container */
}
#lifeText{
    color: green;
    margin:0;
}
#countdown{
    background-color: red;
    color: white;
}
#startBtn{
    font-size: 30px;
}
#lossImg{
    display: none;
}
#main{
    display: flex;
    justify-content: center;
}
#canvas{
    background-color: black;
    justify-content: center;
}
#instructions{
    margin:0;
}
#nextlvlBtn{
    display: none;
    font-size: 30px;
}